

@keyframes monolith {
	to {
		background-position: top
	}
}

@keyframes MOVE-BG {
	from {
	  background-transform: translateY(0);
	}
	to { 
	  background-transform: translateY(-187%);
	}
 }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.svg_wrapper {
	border: 0px solid grey;
	z-index: -1;
	width: 100px;
	margin: auto;
}

svg {
	display: block;
	margin: auto;
}

body {
	background: url("../assets/bg_transparent.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #b3b3b3;

}

#TimerDisplay {
	color: #f3f3f3;
	display:block;
	font-family: 'Liberation Sans Narrow', sans-serif;
	font-style: italic;
	font-size: 40em;
	position: absolute;
	margin-left: 1em;
	margin-top: .9em;

	transform: translate(-50%, -50%);
	-webkit-transform: rotate(-90deg);
	
}

div span h2{
	position: absolute;
	width: 100%;

}

div span h2{
	text-align: center;
	margin: 0;
	line-height: 1;
	font-family: 'FreeSans';
	font-size: 10em;
	color: transparent;
	text-transform: uppercase;
	background-image:linear-gradient(to bottom,#397fc8,  #93673e);
	-webkit-background-clip: text;
	animation: MOVE-BG 1s linear infinite;
}

span h2:nth-child(1) {
	background-image:linear-gradient(to bottom, #397fc8,  #93673e, #397fc8,  #93673e,#397fc8,  #93673e);
	margin-left: .19em;
}
span h2:nth-child(2) {
	background-image:linear-gradient(to bottom, #397fc8,  #93673e,#397fc8,  #93673e);
	margin-left: -.19em;
}

/* 

#content {
	height: 300px;
	text-align: center;
	font-size: 26px;
	color: #000;
	position:relative;
  }
  .bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	background: url(http://www.gstatic.com/webp/gallery/1.jpg) 0% 0% repeat;
	animation-name: MOVE-BG;
	animation-duration: 100s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  } */
