
@keyframes animate{
	0% {
	  background-position: 100% 0;
	}
	50% {
	  background-position: 0 100%;
	}
	100% {
		background-position: 100% 0;
	  }
  }


@keyframes change {
	to {
			background-position:right;
		}
	}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.svg_wrapper {
	border: 0px solid grey;
	width: 800px;
	margin: auto;
}

svg {
	display: block;
	margin: auto;
}

body {
	background: url("../assets/bg_transparent.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #b3b3b3;

}

#TimerDisplay {
	color: #f3f3f3;
	display:block;
	font-family: 'Liberation Sans Narrow', sans-serif;
	font-style: italic;
	font-size: 40em;
	position: absolute;
	margin-left: 1em;
	margin-top: .9em;

	transform: translate(-50%, -50%);
	-webkit-transform: rotate(-90deg);
	
}

div span h2{
	position: absolute;
	width: 100%;

}

div span h2{
	text-align: center;
	margin: 0;
	line-height: 1;
	font-family: 'FreeSans';
	font-size: 10em;
	color: transparent;
	text-transform: uppercase;
	background-image:linear-gradient(to left,#397fc8,  #93673e);
	-webkit-background-clip: text;
	animation: animate 12s linear infinite;
	-webkit-background-size: 500%;
	background-size: 500%;
}

span h2:nth-child(1) {
	background-image:linear-gradient(to left, #397fc8,  #93673e, #397fc8,  #93673e,#397fc8,  #93673e);
	margin-left: .19em;
}
span h2:nth-child(2) {
	background-image:linear-gradient(to left, #397fc8,  #93673e,#397fc8,  #93673e);
	margin-left: -.19em;
}
