
@-webkit-keyframes FTanimation {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes FTanimation {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes FTanimation {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
 

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow:hidden;
} 


span div {
	/* background-color: #39c891; */
	text-align: center;
}


html, body {
	height: 100%;
	/* margin: 0; */
}

.con {
	background-color: #b3b3b3;
	z-index: 0;
}

.left {
	visibility: hidden;
	margin-left: 0;
	width: 25%;
	position: relative;
	float:left
}

.middle {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height:100vh;
	position: relative;
	float:left;
}

.right {
	margin-right: 0;
	width: 25%;
	position: relative;
	float: left;
	visibility: hidden;
}


#FTText {
	width: 100%;
	background-color: coral;
	background-color: transparent;

}

text {
	line-height: 1;
	font-family: 'FreeSans';
	font-size: 200px;
	font-weight: bold;
	color: transparent;
	text-transform: uppercase;
	background:linear-gradient(to bottom,#397fc8,  #93673e);
    background-size: 100% 500%;
	-webkit-background-clip: text;
	z-index: 5;
    /* -webkit-animation: FTanimation 10s ease infinite;
    -moz-animation: FTanimation 10s ease infinite;
    animation: FTanimation 10s ease infinite; */
}
text:nth-child(1) {
	background-image:linear-gradient(to bottom, #93673e, #397fc8);
	position: absolute;
	transform: translate(.19em);
}
text:nth-child(2) {
	position:absolute;
	background-image:linear-gradient(to bottom, #397fc8,  #93673e);
	background-size: 100% 200%;
	transform: translateX(-.19em);
}

.bg {
	margin: 0;
	width: 100%;
	height: 100%;
	background: url("../assets/bg_transparent.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	position: relative;
	z-index: 10;
	overflow:visible;
	right:0;
	top:0;
}


#TimerDisplay {
	
	color: #f3f3f3;
	position: absolute;
	font-family: 'Liberation Sans Narrow', sans-serif;
	font-style: italic;
	font-size: 30em;
	transform-origin: top right;
	margin:0;
	padding:0;
	right:0;
	top:0;
	transform: rotate(-90deg) translateY(-100%);
	z-index: 9;
}

.MonolithContainer {
	display:flex;
	justify-content: center;
}
#monolith {
	position: absolute; 
	width: 35%;
	height: 95vh;
	background-color:#397fc8;
	bottom:0;
	z-index: 4;
}